<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mobile.mapper.RoleMenuRelationMapper" >
  <resultMap id="BaseResultMap" type="com.example.mobile.model.entity.RoleMenuRelation" >
    <id column="role_menu_id" property="roleMenuId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role_menu-relation
    where role_menu_id = #{roleMenuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.mobile.model.entity.RoleMenuRelation" >
    insert into role_menu-relation (role_menu_id, role_id, menu_id, 
      create_time, update_time)
    values (#{roleMenuId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.mobile.model.entity.RoleMenuRelation" >
    update role_menu-relation
    set role_id = #{roleId,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where role_menu_id = #{roleMenuId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select role_menu_id, role_id, menu_id, create_time, update_time
    from role_menu-relation
    where role_menu_id = #{roleMenuId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select role_menu_id, role_id, menu_id, create_time, update_time
    from role_menu-relation
  </select>
</mapper>