<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mobile.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.example.mobile.model.entity.SysRole">
        <id column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="role_desc" property="roleDesc" jdbcType="VARCHAR"/>
        <result column="is_del" property="isDel" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <update id="deleteByPrimaryKey" parameterType="com.example.mobile.model.entity.SysRole">
        update sys_role
        set is_del = #{isDel},
        update_time = #{updateTime}
        where role_id = #{roleId}
    </update>
    <insert id="insert" parameterType="com.example.mobile.model.entity.SysRole">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            role_id,
            <if test="roleName != null and roleName != ''">
                role_name,
            </if>
            <if test="roleCode != null and roleCode != ''">
                role_code,
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                role_desc,
            </if>
            <if test="isDel != null and isDel != ''">
                is_del,
            </if>
            create_time,
            update_time
        </trim>
        <trim prefix="VALUES (" suffix=")">
            #{roleId},
            <if test="roleName != null and roleName != ''">
                #{roleName},
            </if>
            <if test="roleCode != null and roleCode != ''">
                #{roleCode},
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                #{roleDesc},
            </if>
            <if test="isDel != null and isDel != ''">
                #{isDel},
            </if>
            #{createTime},
            #{updateTime}
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.mobile.model.entity.SysRole">
        update sys_role
        <set>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="roleCode != null and roleCode != ''">
                role_code = #{roleCode},
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                role_desc = #{roleDesc},
            </if>
            <if test="isDel != null and isDel != ''">
                is_del = #{isDel},
            </if>
            update_time = NOW()
        </set>
        where role_id = #{roleId}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select role_id, role_name, role_code, role_desc, is_del, create_time,
        update_time
        from sys_role
        where role_id = #{roleId}
    </select>
    <select id="getRoleList" resultMap="BaseResultMap" parameterType="SysRole">
        select role_id, role_name, role_code, role_desc, create_time,
        update_time
        from sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%',#{roleName},'%')
            </if>
            and is_del = #{isDel}
        </where>
    </select>

    <select id="getRolesByUrm" resultMap="BaseResultMap" parameterType="com.example.mobile.model.vo.UserRoleMenu">
        select
        role.role_id,
        role.role_name,
        role.role_code,
        role.role_desc,
        role.is_del,
        role.create_time,
        role.update_time
        from sys_role role
        left join user_role_relation urr on role.role_id = urr.role_id
        where urr.user_id = #{userId} and role.is_del = #{isDel}
    </select>
</mapper>