<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mobile.mapper.UserCardRelationMapper">
    <resultMap id="BaseResultMap" type="com.example.mobile.model.entity.UserCardRelation">
        <id column="user_card_id" property="userCardId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="card_id" property="cardId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from user_card_relation
        where user_card_id = #{userCardId}
    </delete>
    <insert id="insert" parameterType="com.example.mobile.model.entity.UserCardRelation">
        insert into user_card_relation (user_card_id, user_id, card_id,
        create_time, update_time)
        values (#{userCardId}, #{userId}, #{cardId},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.example.mobile.model.entity.UserCardRelation">
        update user_card_relation
        set user_id = #{userId},
        card_id = #{cardId},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where user_card_id = #{userCardId}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select user_card_id, user_id, card_id, create_time, update_time
        from user_card_relation
        where user_card_id = #{userCardId}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select user_card_id, user_id, card_id, create_time, update_time
        from user_card_relation
    </select>
</mapper>